//* ==========================================================================
//* ===== General  ===== */
//*========================================================================== */
.btn-flex {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.secret {
    margin-left: 50px;
    margin-right: 50px
}